@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    color: #30373b;
    font-size: 14.5px;
    padding: 10px;
}

fieldset legend {
    float: left;
    width: 100%;
    font-weight: 900;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 5px;
    text-transform: uppercase;
    font-size: 16px;
}

fieldset {
    background: #fafbfc;
    border-radius: 3px;
    border: 0;
    margin-bottom: 15px;
}

.mw-htmlform-field-HTMLInfoField .mw-label,
.mw-htmlform-field-HTMLTextAreaField {
    display:none;
}

.mw-htmlform-field-HTMLInfoField {
    font-size: 0.89em;
}

.mw-htmlform-field-PFUploadSourceField {
    display: flex;
}
.mw-htmlform-field-Licenses {
    display: none;
}
input#wpDestFile {
    height: 30px;
    border-radius: 3px;
    border: 2px solid #ddd;
    padding: 0 7px;
}

input#wpDestFile:hover {
    border: 2px solid #ccc;
}

input#wpDestFile:active {
    border: 2px solid #52bad5;
}

input#wpDestFile:focus {
    outline: none;
    box-shadow: none;
    outline-offset: 0;
}

.mw-htmlform-submit-buttons input {
    background-color: #52bad5;
    color: #fff;
    padding: 7px 12px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: all ease .25s;
    font-size: 1em;
    cursor:pointer;
}

.mw-htmlform-submit-buttons input:hover {
    background-color: #2c9ab7;
}
